//Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Raleway', sans-serif;

//Colors
$color-primary: #2F80ED;
$color-gray: #BDBDBD;
$color-gray-footer: #A9A9A9;
$color-gray-dark: #828282;
$color-shadow: #7FB1F366;
$color-red: #EB5757;
$color-red-light: #eb7777;
$color-light: #FFFFFF;
$color-dark: #333;
$color-dark-strong: #000;